## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Kilembe,0.2000,30.0000,64.18,76,38,4.43,UG,2022-03-25 19:29:57,light rain
1,1,Quelimane,-17.8786,36.8883,76.57,90,1,5.50,MZ,2022-03-25 19:25:27,clear sky
2,2,Cape Town,-33.9258,18.4232,66.27,64,0,18.41,ZA,2022-03-25 19:30:00,clear sky
3,3,Nova Olinda Do Norte,-3.8881,-59.0942,85.50,68,93,3.60,BR,2022-03-25 19:30:01,overcast clouds
4,4,Novopokrovka,49.8425,36.5477,39.29,68,2,2.35,UA,2022-03-25 19:30:02,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
cities_temp_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
cities_temp_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
1,1,Quelimane,-17.8786,36.8883,76.57,90,1,5.50,MZ,2022-03-25 19:25:27,clear sky
3,3,Nova Olinda Do Norte,-3.8881,-59.0942,85.50,68,93,3.60,BR,2022-03-25 19:30:01,overcast clouds
5,5,Meulaboh,4.1363,96.1285,77.76,86,48,2.10,ID,2022-03-25 19:30:03,light rain
13,13,Lambarene,-0.7001,10.2406,78.22,91,99,3.56,GA,2022-03-25 19:30:10,light rain
16,16,Puerto Ayora,-0.7393,-90.3518,87.76,75,71,7.16,EC,2022-03-25 19:28:22,light rain
19,19,Atuona,-9.8000,-139.0333,79.36,79,40,21.05,PF,2022-03-25 19:30:15,scattered clouds
20,20,Puerto Carreno,6.1890,-67.4859,94.98,43,40,12.66,CO,2022-03-25 19:30:10,scattered clouds
37,37,Tessalit,20.1986,1.0114,90.16,10,97,5.86,ML,2022-03-25 19:30:26,overcast clouds
38,38,Takoradi,4.8845,-1.7554,82.53,82,100,9.84,GH,2022-03-25 19:29:05,overcast clouds
41,41,Rikitea,-23.1203,-134.9692,79.57,73,88,19.35,PF,2022-03-25 19:30:28,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
cities_temp_df.isnull()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
1,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
675,False,False,False,False,False,False,False,False,False,False,False
676,False,False,False,False,False,False,False,False,False,False,False
677,False,False,False,False,False,False,False,False,False,False,False
678,False,False,False,False,False,False,False,False,False,False,False
680,False,False,False,False,False,False,False,False,False,False,False

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = cities_temp_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
1,1,Quelimane,-17.8786,36.8883,76.57,90,1,5.50,MZ,2022-03-25 19:25:27,clear sky
3,3,Nova Olinda Do Norte,-3.8881,-59.0942,85.50,68,93,3.60,BR,2022-03-25 19:30:01,overcast clouds
5,5,Meulaboh,4.1363,96.1285,77.76,86,48,2.10,ID,2022-03-25 19:30:03,light rain
13,13,Lambarene,-0.7001,10.2406,78.22,91,99,3.56,GA,2022-03-25 19:30:10,light rain
16,16,Puerto Ayora,-0.7393,-90.3518,87.76,75,71,7.16,EC,2022-03-25 19:28:22,light rain
...,...,...,...,...,...,...,...,...,...,...,...
675,675,Sur,22.5667,59.5289,82.11,33,0,6.98,OM,2022-03-25 19:59:39,clear sky
676,676,Veraval,20.9000,70.3667,77.49,70,21,10.09,IN,2022-03-25 19:59:39,few clouds
677,677,Tabou,4.4230,-7.3528,80.26,85,85,6.62,CI,2022-03-25 19:59:40,overcast clouds
678,678,Macapa,0.0389,-51.0664,85.98,74,75,11.50,BR,2022-03-25 19:59:41,broken clouds
680,680,Katobu,-4.9408,122.5276,75.40,91,98,2.10,ID,2022-03-25 19:59:42,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Quelimane,MZ,76.57,clear sky,-17.8786,36.8883,
3,Nova Olinda Do Norte,BR,85.50,overcast clouds,-3.8881,-59.0942,
5,Meulaboh,ID,77.76,light rain,4.1363,96.1285,
13,Lambarene,GA,78.22,light rain,-0.7001,10.2406,
16,Puerto Ayora,EC,87.76,light rain,-0.7393,-90.3518,
19,Atuona,PF,79.36,scattered clouds,-9.8000,-139.0333,
20,Puerto Carreno,CO,94.98,scattered clouds,6.1890,-67.4859,
37,Tessalit,ML,90.16,overcast clouds,20.1986,1.0114,
38,Takoradi,GH,82.53,overcast clouds,4.8845,-1.7554,
41,Rikitea,PF,79.57,overcast clouds,-23.1203,-134.9692,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
#hotel_df.dropna(axis=0)
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Quelimane,MZ,76.57,clear sky,-17.8786,36.8883,Hotel Flamingo
3,Nova Olinda Do Norte,BR,85.50,overcast clouds,-3.8881,-59.0942,Casa Juazeiro
5,Meulaboh,ID,77.76,light rain,4.1363,96.1285,Kost Pria
13,Lambarene,GA,78.22,light rain,-0.7001,10.2406,Le Refuge
16,Puerto Ayora,EC,87.76,light rain,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "vacation_search.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))